Config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="Config" type="ConfigType"/>

    <xsd:complexType name="ConfigType">
        <xsd:sequence>
            <xsd:element name="CsrPath" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CerPath" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CaCerPath" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="KeyLength" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:enumeration value="8192"/>
                    <xsd:enumeration value="4096"/>
                    <xsd:enumeration value="2048"/>
                    <xsd:enumeration value="1024"/>
                    <xsd:enumeration value="512"/>
                    <xsd:enumeration value="384"/>
                    <xsd:enumeration value="256"/>
                </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="KspName" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Microsoft Software Key Storage Provider"/>
                    <xsd:enumeration value="Utimaco CryptoServer Key Storage Provider"/>
                    <xsd:enumeration value="SafeNet Key Storage Provider"/>
                    <xsd:enumeration value="nCipher Security World Key Storage Provider"/>
                </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RevocationConfig" type="RevocationConfigType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RevocationConfigType">
    	<xsd:sequence>
    		<xsd:element name="CaCertFile" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    		<xsd:element name="ConfigString" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    		<xsd:element name="TemplateName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    		<xsd:element name="Cdp" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>